​/* Basic Reset*/
/* https://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 16px;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}



body {
	width: 500px;
}
form {
	background-color: gray;
	text-align: center;
	padding: 7px;
	
}

#display {
	width: 98%;
	height: 30px;
	text-align: right;
	font-size: 1.5rem;
}
.digit {
	font-size: 2rem;
	background-color: blueviolet;
	height: 55px;
	width: 20%;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
}
.oper {
	font-size: 2rem;
	background-color: blue;
	height: 55px;
	width: 20%;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
}
#clearMem {
	background-color: rgb(240, 100, 6);
}
#equal {
	background-color: rgb(9, 167, 240);
}